<hr/>
<hr/>
<form action='new_match' method='POST'>
  <label>Location:</label>
  <input name='first_name'>



<!-- 
  <label>password confirmation:</label>
  <input name='password_confirmation'> -->

  <input type='submit'>
</form>
