<hr/>
<hr/>
<form action='new_match' method='POST'>
  <label>Location:</label>
  <input name='address'>
<h1> <%= session[:sport_id] %></h1>


<!-- 
  <label>password confirmation:</label>
  <input name='password_confirmation'> -->

  <input type='submit'>
</form>
