<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../../css/bootstrap.min.css" rel="stylesheet">
  <link href="../../css/stylesheet.css" rel="stylesheet">
  <link href="../../css/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Fira Sans">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <title>SPORTS FLING</title>
</head>

<body>
<!-- navbar end -->
  <%= yield %>
  
</body>
</html>
