<h1>Log-In</h1>

<form action="/session" method="POST">
<div>
<input type="username" name="username" placeholder="username">
</div>
<div>
    <input type="password" name="password" placeholder="Password">
</div>
<div>
    <button type="submit">Sign In</button>
</div>
</form>



<!-- form action='signup' method='POST'>
  <label>first_name:</label>
  <input name='first_name'>

  <label>last_name:</label>
  <input name='last_name'>

  <label>username:</label>
  <input name='username'>

  <label>password:</label>
  <input name='password'>

  <label>email:</label>
  <input name='email'>


  <label>phone:</label>
  <input name='phone'>


  <label>birthday:</label>
  <input name='birthday'>


  <label>profile_pic:</label>
  <input name='profile_pic'>
 -->