<h1><a href= "/create">create page</a></h1>

<h1>Feel like playing some <%= @sport.name %> eh?</h1>


<% @matches.each do |match| %>
<div>
  <h4><a href="<%= match.id %>">Opponent: <%= match.player_one.username %></a></h4>
  <p>
  </p>
  (Created on <%= match.created_at.to_date %>)
  </div>
  <hr>  
<% end %>
