<h1><a href= "/create">create page</a></h1>

<h1>Feel like playing some <%= @sport.name %> eh?</h1>


<% @matches.each do |match| %>
<div>
  <h4>Opponent: <%= match.player_one.username %></h4>
  <p>
  </p>
  (Created on <%= match.created_at.to_date %>)

  <button type="submit" name="challenge" value=1 class="transparent"> <img class="icon" src="http://www.centerforjudicialexcellence.org/wp-content/uploads/2014/09/join.jpg"></button>
  </div>
  <hr>  
<% end %>
