<div class="container-fluid padnav">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
    <h1 class="text-capitalize"><%= @match.player_one.username%></h1>
    
    <% if @match.player_two %>
    vs
     <h1 class="text-capitalize"><%= @match.player_two.username%></h1>
      <h2> You reviewed this match as: </h2>
     <% @match.reviews.each do |review| %>>
      <% review.rating.times do %>
      <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
    <label class="star star-1" for="star-1"></label>
      <% end %>
     <% end %>

     <% end %>

    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-3 padnav">

    <% if @match.player_two == nil %>
      <form action="/challenge/<%= @match.id %>" method="POST">
        <button type="submit" name="challenge" class="btn btn-danger">Join</button>
      </form>
    <% elsif @match.reviews.length == 0 %>
      <button name="review" class="btn btn-danger">
        <a href= <%= "/match/#{@match.id}/review" %> >
        Review
      </button>
    <% end %>
  </div>
    <div class="col-lg-1"></div>
  </div>
</div>