<form action='signup' method='POST'>
  <label>first_name:</label>
  <input name='first_name'>

  <label>last_name:</label>
  <input name='last_name'>

  <label>username:</label>
  <input name='username'>

  <label>password:</label>
  <input name='password'>

  <label>email:</label>
  <input name='email'>


  <label>phone:</label>
  <input name='phone'>


  <label>birthday:</label>
  <input name='birthday'>


  <label>profile_pic:</label>
  <input name='profile_pic'>


<!-- 
  <label>password confirmation:</label>
  <input name='password_confirmation'> -->

  <input type='submit'>
</form>

<!-- 

  first_name: params[:first_name],
      last_name: params[:last_name],
      username: params[:username],
      password: params[:password],
      email: params[:email],
      phone: params[:phone],
      birthday: params[:birthday],
      profile_pic: params[:profile_pic] -->