
</br>
<h1> <%= @user.last_name %></h1>


<hr/>

<form action='/create' method="POST">
 <label>Sport</label>
   <input name="sport_id" value=4></input>
   <input type="submit"></input>
</form>



<h2><a href = "/profilepage">profile page</a></h2>
